.movie-card-border {
    @apply border-b-[5px] border-l-[2px] border-oxford_blue-400 rounded-sm;

}

.movie-card {
    @apply flex min-h-48 bg-rich_black p-4 shadow-md w-full;
}

.movie-card-animation {
    @apply hover:shadow-xl transition-colors duration-150 ease-in-out hover:bg-rich_black-400;
}

.movie-poster {
    @apply flex-shrink-0 h-full max-h-48;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button .icon {
    width: 24px;
    height: 24px;
    transition: color 0.2s ease;
    @apply text-rose-700;
}

.delete-button .icon:hover {
    @apply text-rose-500;
}
