.showtime-form {
    @apply bg-rich_black rounded-sm;
}

.showtime-form-calendar {
    @apply bg-oxford_blue-300;
    @apply border-none;

    button:disabled {
        @apply disabled:bg-oxford_blue-200;
    }

    button:active {
        @apply active:bg-gold-300;
    }

    .react-calendar__tile--active {
        @apply enabled:bg-gold font-bold text-rich_black !important;
    }

    button:hover {
        @apply hover:bg-oxford_blue-300 ;
    }

    .react-calendar__tile--now {
        @apply bg-rich_black text-white;
    }
}

.showtime-form-time-picker .react-time-picker__wrapper {
    @apply border-none bg-oxford_blue-300 p-2;
}

.showtime-form-time-picker .react-time-picker__clear-button svg {
    @apply stroke-rose-600;
}
